@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:wght@300&family=Roboto:wght@100;400&family=Tiro+Devanagari+Sanskrit:ital@1&display=swap');

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 5rem;
    color: darkcyan;
    font-family: "Dancing Script";
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    max-width: 100%;
    margin: auto;
}

summary {
    grid-column: span 4;
    text-align: justify;
    height: 3rem;
    font-size: 1.5rem;
    margin: 2rem auto;
    color: darkcyan;
    max-width: 90%;
}

input {
    margin: 1rem auto;
    width: 55%;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    font-family: 'Nunito';
    font-size: 1.2rem;
    grid-column: span 2;
}

section {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

select {
    width: 6%;
    margin: 0.5rem;
    padding: 0.3rem;
}

span {
    text-align: center;
    font-size: 1rem;
    font-family: 'Nunito';
    font-style: italic;
    grid-column: span 2;
    color: darkcyan;
    margin-bottom: 0.5rem;
}

div {
    grid-column: span 2;
}

#text,
#redacted {
    background-color: white;
    width: 90%;
    height: 53vh;
    outline: none;
    grid-column: span 2;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Nunito';
    resize: none;
}

aside {
    width: 20%;
    display: flex;
}

label {
    font-size: 1.3rem;
    font-family: 'Nunito';
}

img {
    width: 100%;
    filter: invert(100%);
}

button {
    width: 30%;
    padding: 1rem;
    margin: 1.5rem auto 0 auto;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    font-family: 'Nunito';
}

button:active {
    transform: translate(0.1rem, 0.1rem);
}

@media (min-width:320px) and (max-width:359px) {
    summary {
        margin-bottom: 3.5rem;
        font-size: 1.2rem;
        line-height: 1.4;
    }

    input {
        width: 100%;
        font-size: 0.99rem;
    }

    select {
        width: 26%;
    }

    label {
        font-size: 1rem;
    }

    aside {
        width: 80%;
    }

    button {
        width: 30%;
    }
}

@media (min-width:360px) and (max-width:760px) {
    summary {
        margin-bottom: 3rem;
        font-size: 1.2rem;
        line-height: 1.4;
    }

    input {
        width: 90%;
        font-size: 1.1rem;
    }

    select {
        width: 25%;
    }


    label {
        font-size: 1.2rem;
    }

    aside {
        width: 80%;
    }

    button {
        width: 30%;
    }
}

@media (min-width:761px) and (max-width:1024px) {
    input {
        width: 48%
    }

    select {
        width: 10%;
    }

    aside {
        width: 40%;
    }

    button {
        width: 30%;
    }
}